# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/

# Pytest cache
.pytest_cache/

# Jobfiles and logs
wandb/
outputs/
*.sub
*.out
*.log
setup_env.sh

# Pytorch Saved models and Data
*.pt

# VSCode Workspace
.vscode/
*.code-workspace

# Jupyter Notebook
.virtual_documents
.ipynb_checkpoints

# Wandb API key
config/wandb_api_key.txt
CLAUDE.md

#Codex stuff
*.codex

